* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background: linear-gradient(135deg, #f0f4f8, #000000); */
    background-image: url('https://img.freepik.com/premium-photo/premium-black-wallpaper-4k-sophisticated-look_1199394-95146.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.translator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    width: 90%;
    max-width: 600px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5rem;
}

.subtitle {
    font-size: 0.9rem;
    color: #bdbdbd;
    margin-bottom: 1.5rem;
    text-align: center;
}

.translator-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.select-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.select-group label {
    font-weight: bold;
    color: #ffffff;
}

.select-group select {
    padding: 0.5rem;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s ease;
}

.select-group select:focus {
    border-color: #0052cc;
}

.text-area {
    width: 100%;
    padding: 1rem;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    resize: vertical;
    min-height: 100px;
    outline: none;
    transition: border 0.3s ease;
}

.text-area:focus {
    border-color: #0052cc;
}

.translate-button {
    background-color: #0052cc;
    color: #fff;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 0.5rem;
    align-self: center;
    width: 50%;
}

.translate-button:hover {
    background-color: #003a99;
    transform: translateY(-5px);
}

.output-section {
    width: 100%;
    margin-top: 2rem;
    text-align: left;
}

.output-section h2 {
    font-size: 1.25rem;
    color: #ffffff;
}

.output-text {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 8px;
    color: #2d2d2d;
    font-size: 1rem;
    border: 1px solid #ddd;
    min-height: 50px;
}
#speakButton{
    margin-top: 12px;
    /* border: 2px solid red; */
    background-color: blue;
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    border-radius: 4px;
    padding: 5px;
    transition: transform 0.3s linear;
}
#speakButton:hover{
    background-color: grey;
    transform: translateY(-3px);
}